extends ../layout.pug

block contenido

    
    if usuario.rol != 'usuario'
        a(href="./vistaCrear" class="btn btn-success me-2") Crear Agenda
        a(href="./generarTurnosAgendas" class="btn btn-success") Generar turnos

    .form-inline

    if mensaje 
        .alert.alert-success#alerta-exito
            h4= mensaje

    table(class="table table-striped")
        thead 
            tr 
                th Dias 
                if usuario.rol != 'usuario'
                    th Hora de inicio 
                    th Hora de fin 
                    th Duracion de Turnos
                    th Clasificación
                th Nombre de Sucursal 
                th Nombre de Doctor
                th Especialidad
                th Acciones

        tbody    
            each agenda in agendas
                tr(id=`agenda-${agenda.id}`)
                    td= agenda.dias

                    if usuario.rol != 'usuario'
                        td= agenda.horaInicio
                        td= agenda.horaFin
                        td= agenda.duracion
                        td= agenda.clasificacion

                    td= agenda.nombre_sucursal
                    td= agenda.nombre_completo
                    td= agenda.nombre_especialidad
                    td
                       
                        if usuario.rol != 'usuario'
                            a(href=`./editar/${agenda.id}` class="btn btn-info me-2") Editar

                        
                        a(href=`./${agenda.id}/turnos` class="btn btn-warning") Ver Turnos
