extends ../layout.pug
block contenido

    h1.text-center.mt-4 Lista de Turnos de la Agenda
    .container.mt-5
        .row
            .col-md-12
                .d-flex.justify-content-between.mb-3
                    h2 Lista de Turnos
                    
                    .form-group
                        label(for="fech") Fecha
                        input.form-control(type="date" id="fecha" name="fecha")
                        button.btn.btn-success(type="button", onclick=`buscarTurnos(${agenda.id})`) Buscar

                
                table.table.table-hover.table-striped.table-bordered
                    thead.thead-dark
                        tr
                            if usuario.rol != 'usuario'
                                th Paciente
                            th Doctor 
                            th Fecha
                            th Hora de Inicio
                            th Hora de Fin
                            th Estado
                            if usuario.rol != 'usuario'
                                th Motivo
                            th Acciones
                    each turno in turnos
                        tr
                            td= turno.paciente_nombre || 'Sin asignar'
                            td= turno.doctor_nombre
                            td= formatearFecha(turno.fechaTurno)
                            td= turno.inicio
                            td= turno.fin
                            td
                                if turno.estado_turno === 'Libre'
                                    span.badge.text-bg-success Libre
                                else if turno.estado_turno === 'Reservado'
                                    span.badge.text-bg-warning Reservado
                            td= turno.motivo || 'No especificado'
                            td
                                a.btn.btn-sm.btn-primary(href=`/agendas/asignar/${turno.turno_id}`) Reservar
                h2 Sobreturnos
                
    script.
        function buscarTurnos(agendaId) {
            const fecha = document.getElementById('fecha').value;
            if (!fecha) {
                alert("Por favor, seleccioná una fecha.");
                return;
            }

            const hoy = new Date().toISOString().split('T')[0];
            if (fecha < hoy) {
                alert("No podés buscar turnos en una fecha pasada.");
                return;
            }

            // Redireccionar a la ruta con el ID de la agenda y la fecha seleccionada
            window.location.href = `/agendas/${agendaId}/turnos/${fecha}`;
        }                           