extends ../layout.pug
block contenido
    
   .container.mt-4
    .row.justify-content-center
        .col-md-6
            form(action="/doctores/actualizar" method="post" class="border p-4 rounded bg-light")
                // Campo oculto para pasar el id
                input(type="hidden", name="id", value=doctor.id)

                .mb-3
                    label(for="nombre" class="form-label") Nombre Completo:
                    input(type="text" name="nombre" class="form-control" value=doctor.nombre_completo placeholder="Ingresa el nombre completo")
                .mb-3
                    label(for="telefono" class="form-label") Telefono:
                    input(type="text" name="telefono" class="form-control" value=doctor.telefono placeholder="Ingresa el telefono")
                .mb-3
                    label(for="dni" class="form-label") Dni:
                    input(type="text" name="dni" class="form-control" value=doctor.dni placeholder="Ingresa el DNI")
                .mb-3
                    label(for="mail" class="form-label") Mail:
                    input(type="text" name="mail" class="form-control" value=doctor.mail placeholder="Ingresa el Correo")
                .mb-3
                    label(for="domi" class="form-label") Domicilio:
                    input(type="text" name="domicilio" class="form-control" value=doctor.domicilio placeholder="Ingresa el Domicilio")
                
                
                
                button(type="submit" class="btn btn-primary w-100") Editar
