extends ../layout.pug
block contenido
            h2.text-center.my-4 Especialidades del Doctor
                ul.list-group
                    each especialidad in especialidades
                        li.list-group-item.d-flex.justify-content-between.align-items-center
                            = especialidad.nombre
                            a.btn.btn-danger.btn-sm(href=`/doctores/${doctorId}/especialidades/eliminar/${especialidad.id}`) Eliminar

            h3.mt-5 Asignar Nueva Especialidad
            form(action=`/doctores/${doctorId}/especialidades/asignar` method="POST")
                .mb-3
                    label(for="especialidadId") Especialidad:
                    select.form-select(name="especialidadId" id="especialidadId")
                        each especialidad in todasLasEspecialidades
                            option(value=especialidad.id)= especialidad.nombre
                input(type="hidden" name="doctorId" value=doctorId)
                button.btn.btn-primary(type="submit") Asignar Especialidad

            a.btn.btn-secondary.mt-3(href="/doctores/") Volver al listado de doctores
