extends ../layout.pug
block contenido
    
    .container.mt-4
        .row.justify-content-center
            .col-md-6
                form(action="/pacientes/actualizar" method="post" class="border p-4 rounded bg-light")
                    // Campo oculto para pasar el id
                    input(type="hidden", name="id", value=paciente.id)

                    .mb-3
                        label(for="nombre" class="form-label") Nombre Completo:
                        input(type="text" name="nombre" class="form-control" value=paciente.nombre_completo placeholder="Ingresa el nombre completo")
                    
                    .mb-3
                        label(for="dni" class="form-label") Dni:
                        input(type="text" name="dni" class="form-control" value=paciente.dni placeholder="Ingresa en Dni")
                    
                    .mb-3
                        label(for="motivo" class="form-label") Motivo de Consulta:
                        input(type="text" name="motivo" class="form-control" value=paciente.motivo_consulta placeholder="Ingresa el motivo de consulta")
                    .mb-3
                        label(for="obraSocial" class="form-label") Obra Social:
                        input(type="text" name="obraSocial" class="form-control" value=paciente.obra_social placeholder="Ingresa la Obra social")
                    
                    .mb-3
                        label(for="tel" class="form-label") Telefono:
                        input(type="tel" name="tel" class="form-control" value=paciente.datos_contacto placeholder="Ingresa el Telefono")
                    
                    button(type="submit" class="btn btn-primary w-100") Editar
