extends ../layout.pug

block contenido
    .container-fluid.mt-4
        .mx-auto(style="width: 90%;")
            a.btn.btn-secondary.mb-3(href="/inicio")
                i.bi.bi-arrow-left.me-2
                | Volver


            h1.text-center.mb-4.text-primary.fw-bold.display-5 Lista de Pacientes

            a(href="./Crear" class="btn btn-success mb-4")
                i.bi.bi-person-plus-fill.me-1
                | Crear Paciente

            if mensaje
                .alert.alert-success.alert-dismissible.fade.show(role="alert" id="alerta-exito")
                    i.bi.bi-check-circle-fill.me-2
                    strong= mensaje
                    button.btn-close(type="button" data-bs-dismiss="alert" aria-label="Close")

            .card.shadow
                .card-body
                
                    table#tablaPacientes.table.table-hover.table-striped.table-bordered
                        thead.table-dark
                            tr
                                th Nombre
                                th DNI
                                th Obra Social
                                th Teléfono
                                th Acciones
                        tbody
                            each paciente in pacientes
                                tr(id=`paciente-${paciente.id}`)
                                    td= paciente.nombre_completo
                                    td= paciente.dni
                                    td= paciente.obra_social
                                    td= paciente.datos_contacto
                                    td
                                        a(href=`/pacientes/editar/${paciente.id}` class="btn btn-outline-info btn-sm")
                                            i.bi.bi-pencil-fill.me-1
                                        | Editar
    script.
        document.addEventListener('DOMContentLoaded', function () {
            const tabla = document.getElementById('tablaPacientes');
            if (tabla) {
            new DataTable(tabla, {
                language: {
                url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json'
                },
                pageLength: 10
            });
            }
        });